{% extends 'base.html.twig' %}
<link rel="stylesheet" href="{{ asset('build/css/Login.css') }}">

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mon Compte</h1>

        <div class="card">
            <div class="card-body">
                <h3>Bienvenue, {{ user.username }}</h3>
                <p><strong>Email :</strong> {{ user.email }}</p>
                <p><strong>Solde :</strong> {{ user.balance }} €</p>
            </div>
        </div>

        <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
    </div>
{% endblock %}
