{% extends 'base.html.twig' %}

{% block title %}Modifier l'Article{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4">Modifier l'Article</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.name, 'Nom de l\'article') }}
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.description, 'Description') }}
            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.price, 'Prix') }}
            {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <button type="submit" class="btn btn-warning">Modifier</button>
    {{ form_end(form) }}

    <a href="{{ path('app_articles_index') }}" class="btn btn-secondary mt-3">Retour</a>
</div>
{% endblock %}
